
@{
    ViewBag.Title = "Index";
}
    <
  <img src="~/Images/Zoho-Inventory.jpg" class="img-fluid" alt="Responsive image" style="max-height: 100%;">
    

<div class="container">
    <h1 class="title">Inventory Management <i>System</i></h1>
    <h2 class="subtitle">
        Inventory management system is an automation software to track the Business inventory
        recording, ordering, purchasing etc. Get This inventory Software with inventory control system with
        very reasonable Price.
    </h2>
</div>


